footer.main-footer
  p.main-footer__info © 2017 Artmaker. All rights reserved.
  .social
    .icon-facebook.social-icon
    .icon-twitter.social-icon
    .icon-youtube.social-icon
    .icon-instagram.social-icon
