header.main-header
  .main-header__container.l-container
    a(href="#")
      h1.main-header__title ARTMAKER
    img.main-header__icon#main-header__icon(src="./img/149176.svg", alt="", srcset="")

    nav.main-nav#main-nav
      img.main-nav__icon#main-nav__icon(src="./img/cancel-music.svg", alt="", srcset="")
      ul.main-menu
          li.main-menu__item
              a.main-menu__link(href="") vision
          li.main-menu__item
              a.main-menu__link(href="") bilingual
          li.main-menu__item
              a.main-menu__link(href="") branding
          li.main-menu__item
              a.main-menu__link(href="") sp1rit
          li.main-menu__item
              a.main-menu__link(href="") method
          li.main-menu__item
              a.main-menu__link(href="") people
      .main-nav__footer
          p.nav-footer__dir Felsenaustrasse 17
          p.nav-footer__cra CH - 3004 Bern
          p.nav-footer__tel +41 (0)31 300 42 42
      .main-nav__social
          img.nav-social__item(src="https://image.flaticon.com/icons/svg/145/145802.svg", alt="", srcset="")
          img.nav-social__item(src="https://image.flaticon.com/icons/svg/145/145804.svg", alt="", srcset="")
          img.nav-social__item(src="https://image.flaticon.com/icons/svg/145/145812.svg", alt="", srcset="")
