doctype html
html(lang="es")
  head
    title My awesome title
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(href="https://file.myfontastic.com/TnuagY9y36Rw2dedU9YSXf/icons.css" rel="stylesheet")
    link(rel="stylesheet" href="css/styles.css")
  body
    include header

    include menu

    block banner

    block main

    block work

    block subscribe

    block contact

    include footer

    script(src="js/scripts.js")
